body
a:link{color:blue;text-decoration:none}
a:visited{color:#2e0000;}
a:hover{color:#000000;}
a:active{color:red;}


td, tr, img  { padding: 0px; margin: 0px; border: none; }

table { border-collapse: collapse; }

   p
{
font-size:20px; font-family:verdana;
margin-left:30px;
text-align:justify;
 text-indent:100px;
margin-right:30px;
line-height:30px;
margin-bottom:0px;
}


   
h2
{
font-weight:normal;
font-size:20px; 
font-family:times new roman;
margin-left:30px;
text-align:justify;
margin-right:30px;
line-height:22px;
font-weight:lighter;
margin-bottom:0px;
}

big
{
margin-top:0px;
margin-left:175px;
font-family:verdana;
font-size:30px;
text-align:center;
font-weight:normal;
text-decoration:none;
margin-bottom:0px;
}










   
z
{
font-weight:normal;
font-size:20px; 
font-family:times new roman;
margin-left:40px;
text-align:justify;

line-height:22px;
font-weight:lighter;
margin-bottom:0px;
}
   
y
{
font-weight:normal;
font-size:20px; 
font-family:times new roman;
margin-left:15px;
text-align:justify;

line-height:22px;
font-weight:lighter;
margin-bottom:0px;
}
   
w
{
font-weight:normal;
font-size:20px; 
font-family:times new roman;
margin-left:22px;
text-align:justify;

line-height:22px;
font-weight:lighter;
margin-bottom:0px;
}
